<p-tabView (onChange)="tabChange($event)" (onClose)="handleClose($event)">
  <ng-container *ngFor="let tab of tabs; let i = index">
    <p-tabPanel [header]="tab.name"
                [selected]="tab.isActive"
                [disabled]="tab.isDisabled"
                [closable]="config.isClosable"
                [routerLink]="tab.path"> 
      </p-tabPanel>
    </ng-container>
    <!-- <p-button icon="pi pi-chevron-up" (click)="openPrev()"></p-button>
    <p-button icon="pi pi-chevron-down" (click)="openNext()"></p-button> -->
    <div class="tabWrapper">
      <router-outlet></router-outlet>
    </div>    
    
</p-tabView>