<div class="row col-md-12">
    <div class="col-md-3">
      <label class="col-form-label col-form-label-sm">Created by : <span>{{(userDetails && userDetails['created_by']) ? userDetails['created_by'] : ''}}</span></label>
    </div>
    <div class="col-md-3">
      <label class="col-form-label col-form-label-sm">Created date : <span>{{(userDetails && userDetails['created_date']) ? userDetails['created_date'] : ''}}</span></label>
    </div>
    <div class="col-md-3">
      <label class="col-form-label col-form-label-sm">Modified by : <span>{{(userDetails && userDetails['modified_by']) ? userDetails['modified_by'] : ''}}</span></label>
    </div>
    <div class="col-md-3">
      <label class="col-form-label col-form-label-sm">Modified date : <span>{{(userDetails && userDetails['modified_date']) ? userDetails['modified_date'] : ''}}</span></label>
    </div>
  </div>
  